.App {
  font-family: var(--primary-font);
}

.logo {
  font-weight: 700;
  font-size: 4vmin;
  line-height: 1;
  display: flex;
  align-items: center;
  gap: 0.15em;
  width: fit-content;
  color: white;
}

.logo img {
  width: 25%;
  aspect-ratio: 1;
}

.title {
  font-size: 6vmin;
}
