.loading {
  position: absolute;
  inset: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.603);

  display: grid;
  place-items: center;
}

.loading img {
  width: 30%;
  aspect-ratio: 1;
}

.home {
  z-index: 1;
}
