.nav {
  display: flex;
  box-sizing: border-box;
  width: 100vw;
  max-width: 1440px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5%;
  position: absolute;
  top: 0;
  z-index: 2;
}

.scrolled {
  background-color: rgba(7, 43, 73, 0.438);
  backdrop-filter: blur(10px);
  position: fixed;
  border-bottom: 1px solid white;
  transition: background-color 200ms ease;
}

.navBtns {
  display: flex;
  width: 10%;
  min-width: fit-content;
  align-items: center;
  justify-content: space-between;
}

.signinBtn {
  all: unset;
  font-size: 1rem;
  font-weight: 700;
  color: white;
}
